.heading{
    font-size: 50px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 30px;
}

.flip-card{
    background: transparent;
    width: 250px;
    height: 300px;
}

.flip-back img{
    height: 100%;
    width: 100%;
}

.flip-front i{
    font-size: 3rem;
    color: rgb(74,110,79);
    padding-top: 60px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-front{
    background: #f1f1f1;
    color: #333;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0, 2pz, 10px 0 rgba(0,0,0,.12);
}
.flip-back{
    background: #f1f1f1;
    color: #333;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0, 2pz, 10px 0 rgba(0,0,0,.12);
    transform: rotateY(180deg)
}